<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="twitterForm" novalidate fxFlex="400px">
      <mat-form-field>
        <input matInput placeholder="Enter Display Name" formControlName="displayName">
      </mat-form-field>
      <button mat-button color="primary" (click)="fetch()">Fetch</button>
    </form>
  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around top">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxLayout="row" fxLayoutAlign="center top" fxLayoutWrap *ngFor="let tweet of tweets">
      <mat-card fxFlex="250px" fxFlex.lt-sm="100%">
        <mat-card-header>
          <img mat-card-avatar [src]="tweet.user.profile_image_url"/>
          <mat-card-title>{{ tweet.user.name }}</mat-card-title>
          <mat-card-subtitle>Retweeted: {{ tweet.retweet_count }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ tweet.full_text }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="https://twitter.com/{{tweet.user.name}}/status/{{tweet.id_str}}" target="_blank">View</a>
        </mat-card-actions>
      </mat-card>
      <div fxFlex="100%">&nbsp;</div>
    </div>
  </div>
